.main__container{
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-color: #0F0F0F;
    background-size:cover;
    background-image: url(../assets/car.png);
    mix-blend-mode: lighten;
}

.main__container p{
    width: 982px;
    color: #FFF;
    text-align: center;
    font-feature-settings: 'liga' off;
    font-family: Figtree;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 76.8px */
    margin: 0 auto;
    padding-top: 119px;
}

.home__container{
    display: flex;
    gap: 30px;
    padding-top: 30px;
    justify-content: center;

}

.home__container li a{
    color: #37478e;
    text-align: center;
    font-feature-settings: 'liga' off;
    font-family: Figtree;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 76.8px */
    margin: 0 auto;
    transition: background-color 0.3s ease;
}

.home__container li a:hover{
    color: rgb(121, 32, 0);
}